body{
    background-color: rgba(238, 238, 238, 0.815);
    margin: 0%;
}
header{
    width: auto;
    height: 50px;
    background-color: white;
}
#logo{
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 50px;
}
/*Design barre de recherche entête*/
#SearchBar{
    background-image: url(images/search2.jpg);
    background-color: #eee;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 35px;
    width: 250px;
    height: 30px;
    margin-left: 250px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
/*Menu image entête*/
#menu{
    display: inline;
    float: right;
    margin-right: 120px;
}
#menu ul li{
    display: inline;
    padding-left: 10px; 
    list-style-type: none;
}
#profilMenu{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
main{
    display: inline-block;
    margin-top: 30px;
}
article{
    width: 500px;
}
aside{
    margin-left: 570px;
    width: 350px;
    height: 300px;
    margin-top: -80px;
}
/*Partie du slider*/
#slider{
    background-color: white;
    height: 90px;
    width: 450px;
    margin-left: 100px;
    position: relative;
}
/*Gérer la taille des images du slider*/
#slider img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.images{
    display: flex;
    overflow: hidden;
}
.images figure{
    margin: 10px;
}
.images figure figcaption{
    font-size: 8px;
    text-align: center;
}
/*gestion bouton suivant et precedent*/
.prev, .next{
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
}
.next{
    right: 1rem;
}
.prev{
    left: 1rem;
}

#slider:hover .prev, #slider:hover .next{
    opacity: 1;
}
/*Présentation de l'utilisateur*/
#userProfil figure, #profilConsul figure{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#userProfil figure img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}
.nameUser{
    display: inline-block;
    font-size: 13px;
    margin-top: 2px;
}
#userProfil a{
    text-decoration: none;
    color: rgba(0, 153, 255, 0.986);
    float: right;
    font-size: 13px;
    margin-top: 10px;
}
/*Titre pour suggestion*/
#suggestion p{
    color: #aaa;
    font-size: 12px;
    float: left;
    margin-top: 20px;
}
#suggestion a{
    text-decoration: none;
    color: black;
    float: right;
    font-size: 12px;
    margin-top: 20px;
}
#profilConsul{
    margin-top: 75px;
}
#profilConsul figure img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;  
}
#profilConsul a{
    text-decoration: none;
    color: rgba(0, 153, 255, 0.986);
    float: right;
    font-size: 13px;
    margin-top: 10px;
}
/*Style du footer*/
footer{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px; 
}
footer ul{
    padding-left: 0;
}
footer li{
    list-style-type: none;
    font-size: 13px;
    display: inline;
    color: rgba(170, 170, 170, 0.658);
}
footer ul li a{
    text-decoration: none;
    color: rgba(170, 170, 170, 0.658);
}
#copyright{
    color: rgba(170, 170, 170, 0.658);
    font-size: 13px;
}